{% extends 'base.html' %}
{% load staticfiles humanize %}

{% block title %}Thermometer{% endblock %}
{% block header %}Thermometer{% endblock %}

{% block content %}
    <table class="table">
        <thead>
        <th></th>
        {% for feeling in data.feelings %}
            <th style="background-color: #{{ feeling.color }}">{{ feeling.word }}</th>
        {% endfor %}
        </thead>
        <tbody>
        <tr>
            <td>Normal:</td>
            {% for c in data.normal.feeling_percents %}
                <td>{{ c|floatformat:3 }}</td>
            {% endfor %}
        </tr>
        <tr>
            <td>Last 12hrs:</td>
            {% for c in data.historical.feeling_percents %}
                <td>{{ c|floatformat:3 }}</td>
            {% endfor %}
        </tr>
        <tr>
            <td>Now:</td>
            {% with data.recent.frames|last as lastframe %}
                {% for c in lastframe.feeling_percents %}
                    <td>{{ c|floatformat:3 }}</td>
                {% endfor %}
            {% endwith %}
        </tr>
        </tbody>
    </table>
    <table class="table timeline"></table>

    <script>
        (function () {
            window.thermometer_data = {{ json_data|safe }};
        })();
    </script>
{% endblock %}

{% block css %}
    {{ block.super }}
    <link rel="stylesheet" type="text/css" href="{% static 'thermometer/thermometer.css' %}"/>
{% endblock %}

{% block js %}
    {{ block.super }}
    <script type="text/javascript" src="{% static 'thermometer/thermometer.js' %}"></script>
{% endblock %}