{% extends 'base.html' %}
{% load staticfiles humanize %}

{% block title %}Thermometer{% endblock %}

{% block content %}

    <div class="thermometer-app row col">
        <div class="row thermometer-panel">
            <div class="col description"></div>
            <div class="col panel-content thermometers"></div>
        </div>
        <div class="row timeline-panel">
            <div class="col description"></div>
            <div class="col panel-content timelines"></div>
        </div>
    </div>

{% endblock %}

{% block css %}
    {{ block.super }}
    <link rel="stylesheet" type="text/css" href="{% static 'thermometer/thermometer.css' %}"/>
{% endblock %}

{% block js %}
    {{ block.super }}

    <script src="{% static 'thermometer/app.js' %}" type="text/javascript"></script>
    <script src="{% static 'thermometer/utils.js' %}" type="text/javascript"></script>
    <script src="{% static 'thermometer/models/feeling_word.js' %}" type="text/javascript"></script>
    <script src="{% static 'thermometer/models/time_interval.js' %}" type="text/javascript"></script>
    <script src="{% static 'thermometer/models/tweet_group.js' %}" type="text/javascript"></script>
    <script src="{% static 'thermometer/models/update.js' %}" type="text/javascript"></script>

    <script>
        window.apps.thermometer.initialize({
            urls: {
                feelings: "{% url 'thermometer_feelings_json' %}",
                update: "{% url 'thermometer_update_json' %}"
            },
            init_feelings: {{ all_feelings|safe }}
        });
    </script>
{% endblock %}

{% block js_cdn %}
    {{ block.super }}
    {# Load javascript from a CDN here. #}
{% endblock %}