
.page-header {
    display: none;
}

.thermometer-app {
    width: 1170px;
    margin: 0 auto;
    top: 56px;
    bottom: 65px;
}

.a-row.thermometer-panel {
    top: 0;
    height: 320px;
}

.a-row.timeline-panel {
    top: 325px;
    height: 300px;
}

.a-col.description {
    background: #FEFEFE;
    width: 190px;
    left: 0;
}
.a-col.panel-content {
    background: #FEFEFE;
    left: 206px;
    right: 0;
}

.description {
    text-align: right;
}

.description h3 {
    margin-bottom: 20px;
}

.description h4 {
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 2px;
}

.description p {
    font-size: 12px;
    padding-left: 40px;
}

.description .normal-indicator {
    position: relative;
    top: 10px;
}

.description .historical-indicator {
    position: relative;
    top: 10px;
}