.timeline-panel .panel-content {
    -webkit-user-select: none;  /* Chrome all / Safari all */
    -moz-user-select: none;     /* Firefox all */
    -ms-user-select: none;      /* IE 10+ */
    user-select: none;
    cursor: default;
}


.axis text {
    font-size: 11px;
    fill: #999;
}

.axis path,
.axis line {
    stroke: #DDD;
    fill: none;
    shape-rendering: crispEdges;
}

.axis.right path {
    stroke-dasharray: 5, 5;
}

.x.axis path {
    display: none;
}

.timeline-group .line {
    fill: none;
    stroke-width: 1.5px;
    pointer-events: none;
}

.timelines .baseline {
    stroke: #DDD;
    shape-rendering: crispEdges;
    /*stroke-dasharray: 5, 5;*/
}

.timeline-group .examples {
    opacity: 0;
    pointer-events: none;
}

.timeline-group.selected .examples {
    pointer-events: all;
}

.timeline-group .examples circle {
    fill-opacity: 0.3;
    stroke-width: 1px;

    -webkit-transition: stroke-width 250ms, fill-opacity 250ms;
    -moz-transition: stroke-width 250ms, fill-opacity 250ms;
    -ms-transition: stroke-width 250ms, fill-opacity 250ms;
    -o-transition: stroke-width 250ms, fill-opacity 250ms;
    transition: stroke-width 250ms, fill-opacity 250ms;
}
.timeline-group .examples circle:hover,
.timeline-group .examples circle.selected {
    fill-opacity: 0.5;
    stroke-width: 2px;
}

.timeline-group .examples circle.selected {
    fill-opacity: 0.7;
}

.d3-tip .tweet {
    background: rgba(255, 255, 255, 0.8);
    padding: 9px 12px;
    border-radius: 4px;
    max-width: 250px;

    font-size: 12px;

    -webkit-box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.3);
    box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.3);
}

.d3-tip .tweet .text {
    margin-bottom: 4px;
}

.d3-tip .tweet .runner {
    font-size: 11px;
}

.d3-tip .tweet .runner .date {
    color: #999;
}