{% extends 'base.html' %}
{% load staticfiles humanize %}

{% block title %}Aquarium Visualization{% endblock %}
{% block header %}
    <h1>Aquarium Visualization</h1>
{% endblock %}

{% block content %}

    <div class="fish-app">
        <iframe class="external-vis" height="400px" width="600px" src="{{ external_urls.fish }}"></iframe>
    </div>

{% endblock %}

{% block css %}
    {{ block.super }}
{% endblock %}

{% block js %}
    {{ block.super }}
{% endblock %}

{% block js_cdn %}
    {{ block.super }}
{% endblock %}
