{% load compress staticfiles bootstrap3 %}
<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}{{ site.name }}{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% bootstrap_css %}
    {% compress css %}
        {% block css %}
            <link rel="stylesheet" type=text/css" href="{% static 'twitter_feels/base.css' %}"/>
        {% endblock %}
    {% endcompress %}
</head>
<body>

<div class="container content">
    {% bootstrap_messages %}

    {% block content %}
        <p>Base page</p>
    {% endblock %}
</div>

<script src="{% bootstrap_jquery_url %}" type="text/javascript"></script>
{% bootstrap_javascript %}
{% compress js %}
    {% block js %}
        <script src="{% static 'libs/console.log-wrapper/consolelog.js' %}" type="text/javascript"></script>
        <script src="{% static 'libs/jquery-cookie/jquery.cookie.js' %}" type="text/javascript"></script>
        <script src="{% static 'twitter_feels/base.js' %}" type="text/javascript"></script>
    {% endblock %}
{% endcompress %}

</body>
</html>