{% load compress staticfiles bootstrap3 lineage %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    {# See https://github.com/audreyr/favicon-cheat-sheet #}
    {# Current icon comes from http://www.flaticon.com/free-icon/thermometer_2713 #}
    <link rel="shortcut icon" href="{% static 'favicon/favicon.ico' %}">
    <link rel="apple-touch-icon-precomposed" href="{% static 'favicon/favicon-152.png' %}">
    <meta name="msapplication-TileColor" content="#FFFFFF">
    <meta name="msapplication-TileImage" content="{% static 'favicon/favicon-144.png' %}">
    <link rel="icon" href="{% static 'favicon/favicon-32.png' %}" sizes="32x32">

    <title>{% block title %}{{ site.name }}{% endblock %}</title>

    {% bootstrap_css %}
    {% compress css %}
        {% block css %}
            <link rel="stylesheet" type="text/css" href="{% static 'twitter_feels/sticky_footer.css' %}"/>
            <link rel="stylesheet" type=text/css" href="{% static 'twitter_feels/base.css' %}"/>
        {% endblock %}
    {% endcompress %}

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>

<div class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{% url 'thermometer' %}">{{ site.name }}</a>
        </div>
        <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li class="{% ancestor 'thermometer' %}"><a href="{% url 'thermometer' %}">Thermometer</a></li>
                {% if debug_mode %}
                    <li class="{% ancestor 'demo_vis' %}"><a href="{% url 'demo_vis' %}">Demo Vis</a></li>
                {% endif %}
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li class="{% ancestor 'status' %}"><a href="{% url 'status' %}">Status</a></li>
            </ul>
        </div>
        <!--/.nav-collapse -->
    </div>
</div>

<div class="container content">
    <div class="page-header">
        <h1>{% block header %}{{ site.name }}{% endblock %}</h1>
    </div>
    {% bootstrap_messages %}

    {% block content %}
        <p>Base page</p>
    {% endblock %}
</div>

<div id="footer">
    <div class="container">
        <p class="text-muted">Place sticky footer content here.</p>
    </div>
</div>

{% block js_cdn %}
    <script src="{% bootstrap_jquery_url %}" type="text/javascript"></script>
    {% bootstrap_javascript %}
{% endblock %}

{% compress js %}
    <script type="text/javascript">
        (function () {
            // Generate a token
            var csrf = '{{ csrf_token }}';

            /// Necessary to set the CSRF token for ajax requests.
            /// https://docs.djangoproject.com/en/dev/ref/contrib/csrf/
            function csrfSafeMethod(method) {
                // these HTTP methods do not require CSRF protection
                return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
            }

            $.ajaxSetup({
                crossDomain: false, // obviates need for sameOrigin test
                beforeSend: function (xhr, settings) {
                    if (!csrfSafeMethod(settings.type)) {
                        xhr.setRequestHeader("X-CSRFToken", csrf);
                    }
                }
            });
        })();
    </script>
    {% block js %}
        <script src="{% static 'libs/console.log-wrapper/consolelog.js' %}" type="text/javascript"></script>
        <script src="{% static 'libs/js-logger/src/logger.js' %}" type="text/javascript"></script>
        <script src="{% static 'libs/jquery-cookie/jquery.cookie.js' %}" type="text/javascript"></script>
        <script src="{% static 'twitter_feels/base.js' %}" type="text/javascript"></script>
        <script type="text/javascript">
            {% if debug_mode %}
                window.apps.configureLogger(Logger.DEBUG);
            {% else %}
                window.apps.configureLogger(Logger.WARN);
            {% endif %}
        </script>
        {# Your JS will be added here if you extend this block. #}
    {% endblock %}
{% endcompress %}

</body>
</html>